<!--The content below is only a placeholder and can be replaced.-->
<p-toast position="top-center" [showTransformOptions]="'translateY(-100%)'" [baseZIndex]="1016"></p-toast>
<div style="text-align:center">
  <img width="50%" alt="Paymentsense Logo" src="../assets/paymentsense-logo.svg">
  <h1>
    {{ title }}
  </h1>
  <h2>... Paymentsense Coding Challenge API is
    <fa-icon [icon]=paymentsenseCodingChallengeApiActiveIcon
             [styles]="{ 'stroke': paymentsenseCodingChallengeApiActiveIconColour, 'color': paymentsenseCodingChallengeApiActiveIconColour }"></fa-icon>
    ...
  </h2>
</div>
<div class="countries-container p-grid p-jc-center">
  <div class="p-col-8 p-text-center">
    <button pButton type="button" icon="pi pi-flag" label="Load Countries" class="p-button-secondary countries-loader-button" (click)="onLoadCountries()"></button>
  </div>
  <div class="p-col-8">
    <router-outlet></router-outlet>
  </div>
</div>

